{% extends 'base.html' %}
{% load static %}
 {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 my-1">
      <h2>{{blog.name}}</h2>
      <span>{{blog.auther}}</span>
      <div>
        <span>{{blog.post_date}}</span>
      </div>
      <div>
        {% if user.is_authenticated %}
          {% if user.id == blog.auther.id %}
          <a class="btn btn-sm btn-info" href="{% url 'updateblogview' blog.id %}"><i class="fa-solid fa-pen-to-square"></i> edit blog</a>
          <a class="btn btn-sm btn-danger " href="{% url 'deleteblogview' blog.id %}"><i class="fa-solid fa-trash"></i> delete blog</a>
          {% endif %}
        {% endif %}
      </div>
      {% comment %} <img
        src=""
        class="img-fluid rounded-top"
        alt=""
        width="40%"
      /> {% endcomment %}
      <p>{{blog.description|safe}}</p>
    </div>
    <div class="col-md-4 my-1">
      <ul class="list-group">
        <h2>user created blogs</h2>
        {% for blogs in user_blogs %}
        <li class="list-group-item">
          <a href="{% url 'blog_detail' blogs.slug %}" class="text-decoration-none">{{blogs.name}}</a>
          </li>
        {% endfor %}
        <br>
        <h2>all blogs</h2>
        {% for blogs in all_blogs %}
        <li class="list-group-item">
          <a href="{% url 'blog_detail' blogs.slug %}" class="text-decoration-none">{{blogs.name}}</a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</div>
{% endblock content %}


