{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lorem ipsum dolor sit ipsa aut A aliquid magnam cum.</h2>
      <span>Auther: nikhil</span>
      <div>
        <span>13 mit go</span>
      </div>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta inventore
      sapiente, vitae sit, necessitatibus maxime facere eligendi quo dolorum
      praesentium ut, labore eum harum excepturi architecto accusamus esse
      molestias voluptates voluptate voluptas odit optio debitis. Dolores cum
      hic sapiente magnam nisi impedit atque facilis doloremque quibusdam
      pariatur quo dolore optio provident delectus nulla nesciunt, explicabo
      facere, debitis dolor aliquid maxime. Laboriosam, facere fuga eligendi ad
      officiis libero enim dignissimos dolorem fugiat voluptatem, cum atque
      dolores voluptates quod, consectetur inventore dolore est voluptatum
      obcaecati ipsam. Excepturi, commodi autem! Atque iure nam, voluptatum, vel
      asperiores voluptas consectetur praesentium aut quas dicta animi
      recusandae harum architecto officiis sequi voluptatem? Quos ea tenetur,
      nulla nisi culpa incidunt, sapiente sunt esse laborum, veritatis quod nam
      asperiores animi saepe officiis enim vel consectetur at blanditiis libero
      magni! Maxime similique animi repudiandae a est modi sed nobis, quia
      corporis quidem, non aspernatur temporibus provident qui quae quibusdam
      eius eum placeat dolores molestias, labore necessitatibus? Sunt quaerat
      sint repudiandae corrupti doloremque illum eveniet nisi ullam dolore
      voluptatem repellendus error impedit provident numquam odio at ea delectus
      alias ad animi aspernatur molestiae, praesentium magni natus. Minima
      magnam, a at saepe deleniti, voluptatum facilis cumque sequi iusto atque
      iste. Similique?
    </p>
  </div>
  <div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item">1 item</li>
        <li class="list-group-item">2 item</li>
        <li class="list-group-item">3 item</li>
        <li class="list-group-item">4 item</li>
        <li class="list-group-item">5 item</li>

    </ul>
  </div>
</div>
{% endblock content %}
