{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="red_color">blog home</h1>
      <div class="container">
        <div class="row">
          {% comment %} {% for data in blogs %} {% endcomment %}
          {% if object_list %}
              {% for data in object_list %}
                <div class="col-sm-4 mt-1">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ data.name }}</h5>
                      <small>auther : </small>
                      <small class="text-primary">{{data.auther}}</small>
                      <p class="card-text">{{data.mini_description|truncatechars:100}}</p>
                      <a href="{% url 'blog_detail' data.slug %}" class="btn btn-primary">Read more</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
          {% else %}
              <h2 class="text-danger text-center">No blog found</h2>
          {% endif %}
          </div>
      </div>
{% endblock content %}
  