{% extends 'base.html' %}

{% block content%}
<h1>login</h1>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
          <label for="username" class="form-label">Username</label>
          {% comment %} {{login_form.username}} {% endcomment %}
          {{form.username}}
        </div>
        <div class="col-6">
            <label for="Password" class="form-label">Password</label>
            {% comment %} {{login_form.password}} {% endcomment %}
            {{form.password}}
          </div>
        <div class="col-6"><br>
          <button type="submit" class="btn btn-primary">login</button>
        </div>
    </div>
</form>

{% endblock content %}

