{% extends "base.html" %}

{% block content %}
<h2>change password {{user.username}}</h2>
<br>
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <label for="oldPassword" class="form-label">old Password</label>
            {{form.old_password}}
        </div>
        <div class="col-md-12">
            <label for="newPassword" class="form-label">new Password</label>
            {{form.new_password1}}
        </div>
        <div class="col-md-12">
            <label for="conformnewPassword" class="form-label">conform new Password</label>
            {{form.new_password2}}
        </div>
      </div>
      <button type="submit" class="btn btn-md btn-success mt-3">change password</button>
</form>

{% endblock content %}

